<!DOCTYPE html>
<html>
  <head>
    <title>🔥BbApplyTask🔥</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
  	<div id='app'>
      <nav>
        <navigation></navigation>
      </nav>
      <%= yield %>
    </div>
  </body>
  <%= javascript_pack_tag 'application' %>
</html>
